/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #65676a transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #65676a;
  border-radius: 24px;
}
